---
layout: single
classes: wide
---

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script> <script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } }); </script> <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

{{ content }}

</ul><h2> About me </h2><ul>
 <p>I am currently a Lecturer at Beijing Jiaotong University. Before this, I was a postdoctoral fellow at <a href="https://ymsc.tsinghua.edu.cn/en/index.htm"> Yau Mathematical Sciences Center</a> working with Yunhui Wu and Haizhong Li. I obtained my Ph.D. in 2021 from University of British Columbia, Canada under the supervision of Prof. Jingyi Chen and Prof. Ailana Fraser.


</strong></p><p><strong>Email</strong>: honghan0927@gmail.com, hanhong@bjtu.edu.cn
  
<p><strong>Office</strong>: N206-Mechanics Building, School of Mathematics and Statistics, Beijing Jiaotong University, Hai Dian District, Beijing 100091, China.
  
</ul><h2>Research Interests</h2><ul>
  <li>Geometric Analysis</li>
  <li>Convex geometry</li>

  
